.converter-header {
  text-align: center;
}

.card-body {
  padding: 0;
  text-align: center;

  .converter-body__source {
    border-right: 1px solid lightgrey;
    padding: 1rem;
  }

  .converter-body__target {
    padding: 1rem;
  }

  .calendar-group {
    input {
      width: 50%;
    }
  }
}
