.converter-card {
  border-radius: 5px;
  height: 100%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s;
}

.card-header {
  padding: 0;
}

.converter-card {

  .converter-header {
    text-align: center;

    .calendar-item {
      padding: 1rem 0.6rem;

      &.selected {
        padding: 1rem 0.6rem;
        color: #4284f3;
        border-bottom: solid 3px #4284f3;
      }

      &:hover {
        color: #4284f3;
      }

      &:focus {
        background: transparent;
      }
    }

    .converter-header__switch-icon {
      margin-top: 1rem;
      height: 25px;
      width: 25px;
      cursor: pointer;

      &:hover {
        opacity: 0.6;
      }
    }

    .converter-header__dropdown-button {
      color: black;
      background-color: inherit;
      border: none;
    }
  }

  .card-body {
    padding: 0;
    text-align: center;

    .converter-body__source {
      padding: 2rem;
    }

    .converter-body__target {
      padding: 2rem;
    }

    .converter-body__vertical-separator {
      border-left: 1px solid lightgrey;
      width: 1px;
      margin: auto;
      height: 100%;
    }

    .converter-body__calendar {
      width: fit-content;
      margin: auto;
    }
  }
}
