
.navbar {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  background-color: cadetblue;

  .navbar-title {
    color: #fff;
    font-size: 1.25em;

    &:hover {
      text-decoration: none;
    }
  }

  .nav-link {
    color: #fff !important;
    &:hover {
      opacity: 0.8;
    }
  }

  .dropdown-item {
    &.active {
      background-color: cadetblue;
    }
  }
}
