.converter-body__calendar {
  width: fit-content;
  margin: auto;

  .list-group-item {
    padding: 0;
    border: none;

    input {
      width: 50%;
      height: 30px;
      text-align: center;
    }

    select {
      height: 30px;
    }
  }

  .error-message {
    margin-top: 16px;
    color: red;
  }
}
